@import '../../scss/variables';
@import '../../scss/mixins';
// @import '~bootstrap/scss/bootstrap-reboot';

.header {
  background: #fff;
  &__wrapper {
    position: relative;
    padding-top: 34px;
    padding-bottom: 59px;
    @media only screen and (min-width: 992px) {
      @include flex(row, wrap, flex-start, flex-start);
      padding-bottom: 130px;
      padding-top: 27px;
    }
  }
  &__hamburger {
    @include size(30px, 18px);
    position: absolute;
    top: 20px;
    right: 18px;
    @media only screen and (min-width: 576px) {
      display: none;
    }
  }
  &__hamburger-elem {
    @include size(30px, 2px);
    position: absolute;
    background: #21243d;
  }
  &__hamburger-elem1 {
    top: 50%;
    left: 0px;
    transform: translateY(-1px);
  }
  &__hamburger-elem2 {
    top: 0px;
    left: 0ex;
  }
  &__hamburger-elem3 {
    bottom: 0px;
    left: 0px;
  }
  &__menu {
    @include flex(column, wrap, center, center);
    position: absolute;
    background: #21243d;
    width: calc(100% - 36px);
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s;
    opacity: 0;
    z-index: -1;
    @media only screen and (min-width: 576px) {
      opacity: 1;
      z-index: 0;
      @include flex(row, wrap, flex-end, flex-end);
      background: #fff;
      position: relative;
      top: 0px;
    }
  }
  &__menu-link {
    width: 100%;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-family: $hm;
    font-size: 20px;
    padding: 20px 0px;
    position: relative;
    text-align: center;
    transition: 0.2s;
    &::before {
      content: '';
      @include size(100%, 1px);
      background: rgba(#fff, 0.1);
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
    &:hover {
      background: lighten(#21243d, 5%);
    }

    @media only screen and (min-width: 576px) {
      width: auto;
      color: #21243d;
      margin-right: 33px;
      padding: 0px;
      position: relative;
      &:last-child {
        margin-right: 0px;
      }
      &::before {
        content: '';
        @include size(100%, 2px);
        background: #21243d;
        position: absolute;
        bottom: 0px;
        left: 0px;
        transition: 0.2s;
        opacity: 0;
      }
      &:hover {
        background: #fff;
      }
      &:hover::before {
        opacity: 1;
      }
    }
  }
  &__block {
    @include flex(column, wrap, center, center);

    @media only screen and (min-width: 992px) {
      padding-top: 80px;
    }
  }
  &__block1 {
    margin-top: 83px;

    @media only screen and (min-width: 992px) {
      order: 2;
      margin-top: 0px;
      width: 40%;
      @include flex(column, wrap, flex-start, flex-start);
      padding-left: 40px;
      padding-top: 150px;
    }
  }
  &__block2 {
    order: 1;
    @media only screen and (min-width: 992px) {
      @include flex(column, wrap, flex-start, flex-start);
      width: 60%;
      padding-top: 168px;
    }
  }
  &__image-container {
    position: relative;
    &::before {
      content: '';
      @include size(100%, 100%);
      background: #edf7fa;
      border-radius: 50%;
      position: absolute;
      bottom: -7px;
      left: -7px;
      z-index: 1;
    }
  }
  &__author-pic {
    position: relative;
    z-index: 2;
  }
  &__headline {
    margin: 0;
    width: 300px;
    color: #21243d;
    font-family: $hb;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-top: 44px;
    @media only screen and (min-width: 992px) {
      margin-top: 0px;
      width: 320px;
      text-align: left;
    }
  }
  &__paragraph {
    margin: 0;
    width: auto;
    font-family: $hr;
    font-size: 16px;
    color: #21243d;
    text-align: center;
    margin-top: 21px;
    @media only screen and (min-width: 576px) {
      width: 450px;
    }
    @media only screen and (min-width: 992px) {
      width: auto;
      text-align: left;
      margin-top: 40px;
    }
  }
  &__download-link {
    text-decoration: none;
    background: #ff6464;
    color: #fff;
    font-family: $hm;
    font-size: 20px;
    text-align: center;
    padding: 17px 21px;
    margin-top: 27px;
    border-radius: 2px;
    transition: 0.2s;
    @media only screen and (min-width: 992px) {
      padding: 9px 20px;
      margin-top: 38px;
    }
    &:hover {
      background: darken(#ff6464, 5%);
    }
  }
}

// Bootstrap Media Queries
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
// @include media-breakpoint-up(xxl) {}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

// * {@include outline()}
