@import '../../scss/variables';
@import '../../scss/mixins';
// @import '~bootstrap/scss/bootstrap-reboot';

.footer {
  background: #fff;
  &__wrapper {
    padding-top: 51px;
    padding-bottom: 54px;
  }
  &__social-links-container {
    @include flex(row, wrap, center, center);
  }
  &__social-link {
    text-decoration: none;
    @include size(46px, 46px);
    margin-right: 28px;
    &:last-child {
      margin-right: 0px;
    }
    svg {
      @include flex(row, wrap, center, center);
      @include size(46px, 46px);
      path {
        fill: #21243d;
      }
    }
  }
  &__social-link1 {
  }
  &__social-link2 {
  }
  &__social-link3 {
  }
  &__facebook {
  }
  &__instagram {
  }
  &__twitter {
  }
  &__linkedin {
  }
  &__copy {
    width: 100%;
    margin: 0px;
    color: #21243d;
    font-family: $hr;
    font-size: 14px;
    text-align: center;
    margin-top: 26px;
  }
}

// Bootstrap Media Queries
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
// @include media-breakpoint-up(xxl) {}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

// * {@include outline()}
